@font-face {
  font-family: 'helveticaneue-roman';
  src: url('@/assets/fonts/helveticaneue-roman.woff2') format('woff2'),
    url('@/assets/fonts/helveticaneue-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
